.container {
   display: flex;
   flex-flow: row-reverse wrap;
   justify-content: center;
   gap: 5px 1px;
   max-width: 960px;
   margin: 30px auto;
 }
 .content {
   order: 1;
   flex-grow: 4;
 }
 .sidebar {
   order: 0;
 }
.update-form {
   max-width: 360px;
   margin: 20pxauto;
   padding: 60px;
   border: 1px solid #ddd;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
 }
 .update-form label {
   display: block;
   margin: 30px auto;
 }
 .update-form span {
   display: block;
   margin-bottom: 6px;
 }
 .update-form input {
   padding: 8px 6px;
   font-size: 1em;
   color: #777;
   width: 100%;
 }
