rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //only auth
      allow create: if request.auth != null;

      // logged in user uid must match document creator
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
    match /users/{userId} {
      //only auth
      allow create: if request.auth != null;

      // logged in user uid must match document creator
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}
